@font-face {
  font-family: 'CustomFont'; /* Name, den du der Schriftart gibst */
  src: url('fonts/PublicPixel-rv0pA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Gamebase{
  height: 512px;
  width: 288px;
  border-style: solid;
  color: Black;
}

.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-family: 'CustomFont', sans-serif; /* Schriftart anwenden */
  font-size: 30px; /* Schriftgröße */
  color: black; /* Optional: Textfarbe */
}

.headbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sides{
  border-style: solid;
    height: 512px;
    width: 400px;
    justify-items: center;
    padding-top: 20px;
}